<div class="user">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12">
                <h1>Create New User</h1>
            </div>
        </row>
    </div>
    <form class="form-horizontal">
        <div class="form-group" id="name-group">
            <label for="input-name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="input-name" placeholder="Name" autofocus required autocomplete="name">
                <p class="help-block" id="email-help"></p>
            </div>
        </div>
        <div class="form-group" id="email-group">
            <label for="input-email" class="col-lg-2 control-label">Email Address</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="input-email" placeholder="Email Address" required autocomplete="email">
                <p class="help-block" id="email-help"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-5">
                <button id="submit-btn" type="submit" class="btn btn-success">Create User</button>
            </div>
        </div>
    </form>
</div>
