<div class="jumbotron">
    <h1>Yahtzee!</h1>
    <p class="lead">This is the front end for the game :)</p>
    <form class="form-horizontal">
        <div class="form-group" id="name-group">
            <label for="input-name" class="col-lg-2 control-label">User Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="input-name" placeholder="User Name" autofocus required autocomplete="name">
                <p class="help-block" id="name-help"></p>
            </div>
        </div>
        <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">                
                <button id="submit-btn" type="submit" class="btn btn-success">New Game</button>
              </div>
        </div>   
    </form>                
</div>
<div class="game" id="game-view"></div>

