<div class="col-md-6">
    <div class="event panel panel-success">
        <div class="panel-heading">
            <span class="panel-title"><%= user_name %></span>
        </div>
        <div class="panel-body">
            <p><%= email %></p>
            <p>high score:  <%= high_score %></p>    
        </div>
    </div>
</div>

